
<%- include('../../partials/header.ejs') %>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title mb-4">Edição de Categoria</h2>
            <form action="/categories/update" method="post" class="row g-3">
                <div class="col-12">
                    <label for="title" class="form-label">Título da Categoria</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Defina o título da Categoria" value="<%= category.title %>">
                    <input type="hidden" name="id" value="<%= category.id %>">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs') %>