<%- include ('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <form action="/categories/save" method="post">
        <input type="text" name="title" placeholder="Defina o titulo da Categoria">
        <button>Cadastrar</button>

    </form>
</div>

<%- include ('../../partials/footer.ejs') %>