<!DOCTYPE html>
<html lang="pt-BR">
<head>    
    <%- include('../../partials/header.ejs') %>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title mb-4">Novo artigo</h2>
            <form action="/articles/save" method="post" class="row g-3">
                <div class="col-12">
                    <label for="title" class="form-label">Título do Artigo</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Defina o título do artigo" required> <br>
                    <textarea class="form-control" name="body" placeholder="Escreva o artigo aqui" id="article"></textarea> <br>
                    <label>Categoria</label>
                    <select name="category" id="" class="form-control">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>"><%= category.title %> </option>      
                        <%  })  %>
                    </select> <br>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ]
    })


</script>

</body>
</html>