<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto Express</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2>Sobre nós</h2>
        <p>Este é o conteúdo da página Sobre.</p>
    </main>

    <%- include('partials/footer') %>
</body>
</html>